{
	"tabWidth": 4,
	"useTabs": false,
	"singleQuote": true,
	"printWidth": 120,
	"trailingComma": "all",
	"semi": true,
	"bracketSpacing": true,
	"arrowParens": "always",
	"endOfLine": "auto",
	"plugins": ["@prettier/plugin-php"],
	"overrides": [
		{
			"files": ["*.php"],
			"options": {
				"phpVersion": "8.4",
				"braceStyle": "psr-2",
				"trailingCommaPHP": true
			}
		},
		{
			"files": ["*.blade.php"],
			"options": {
				"parser": "php",
				"tabWidth": 4,
				"printWidth": 120
			}
		},
		{
			"files": ["*.js", "*.jsx"],
			"options": {
				"jsxSingleQuote": true,
				"bracketSameLine": true,
				"singleQuote": true,
				"trailingComma": "all"
			}
		},
		{
			"files": ["*.css", "*.scss"],
			"options": {
				"printWidth": 120
			}
		},
		{
			"files": ["*.html"],
			"options": {
				"printWidth": 120,
				"singleQuote": true
			}
		},
		{
			"files": ["*.json"],
			"options": {
				"printWidth": 120
			}
		}
	]
}
